@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Nunito:ital,wght@1,300&display=swap');

*{
    margin:0 ;
    padding: 0;
}
.container{
    display: flex;
}
.slide-bar{
    background-color: aqua;
    width: 15vw;
    height: 100vh;
    
    font-family: 'Nunito', sans-serif;
    
}
.slide-bar nav{
    padding: 35px;
    
}
.slide-bar nav li{
    list-style: none;
    font-size: 27px;
    padding: 26px 0px;
    
}
.main{
    background-color:purple;
    width: 100vw;
    font-family: 'Karla', sans-serif;
    
}