* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  padding: 100px;
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #333;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  transition: 0.5s;
}

header .logo span {
  color: orange;
  font-size: 2em;
}

header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  transition: 0.5s;
  font-weight: 500;
  margin: 0px 7px;
}

.content {
  position: relative;
  max-width: 700px;
}

.content h3 {
  font-size: 5.5em;
  color: #333;
  transition: 0.5s;
}

.content h2 span {
  color: orange;
}

.content p {
  font-size: 1.2em;
  color: #666;
  margin: 10px 0;
  transition: 0.5s;
}

.content button {
  position: relative;
  background: orange;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 35px;
  letter-spacing: 0.05em;
  font-size: 1.25em;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s;
}

.content button.Chat {
  background: transparent;
  color: #666;
}

.daynight {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: 0.5s;
}
.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1) {
  display: none;
}
.banner.night .daynight ion-icon:nth-child(2) {
  display: block;
}
.banner.night {
  background: #333;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.Chat,
.banner.night header ul li a {
  color: #fff;
}
