*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.banner{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  padding: 100px;
  transition: 0.5s;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: #333;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  transition: 0.5s;
}

span{
  color: orange;
  font-size: 2em;
}

header ul{
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a{
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  transition: 0.5s;
  font-weight:500 ;
  margin: 0px 7px;
  

}